h3{
    text-align: right;
}

.navbar {
    position: fixed;
    width: 100%;
}
.jumbotron{
    background-image: url("https://images.unsplash.com/photo-1532117364815-720cd35ff6e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
  
}

h1{
    /* text-shadow: 2px 2px 5px orangered; */
    position: relative;
    bottom: 60px;
    font-family: 'Lobster', cursive;
}

p{
    position: relative;
    bottom: 60px;
}
