.images, .img-responsive {
    width: 60%;
    padding: 5px;
    margin: 15px;
    /* from w3 schools on box shadow */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 .imgHolder {
   width: 90%;
   margin-left: 60px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   /* grid-template-rows: repeat(3, 5%); */
 }


 /*below from w3 schools*/
 /* Float to the right on screens that are equal to or less than 768px wide */
@media (max-width: 768px) {
    .float-right-sm {
      float: right;
    }
  }
  
  /* Float to the right on screens that are equal to or greater than 769px wide */
  @media (min-width: 769px) {
    .float-right-lg {
      float: right;
    }
  }