.images, .img-responsive {
    width:27%;
    float: left;
    padding: 5px;
    margin: 15px;
    /* from w3 schools on box shadow */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardHolder{
   
     width: 70%;
    margin: 0 auto;

 } 
 